@layer reset, base, tokens, recipes, utilities;

html {
  font-family: 'Handlee', Helvetica, Arial, sans-serif;
  color: #394e59;
  font-weight: 500;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Hot fix for carousel background */
.carousel .slide {
  background: none !important;
}

.no-scroll {
  overflow: hidden;
}