.secondary-headline {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  list-style: circle;

  li {
    line-height: 1.4;
  }
}

.textBelowHeadline {
  compose: secondary-headline;
  margin-top: 10px;
}